<% layout("/layouts/boilerplate") %>
    <style>
        .responsive-listing-card {
            margin-left: 6.666667% !important;
            width: 85% !important;
        }
    </style>

    <div class="row">
        <div class="col-8 offset-2 responsive-listing-card">
            <br>
            <h3>Add New Listing</h3>
            <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Enter title here.</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="listing[description]" id="description" cols="30" required class="form-control"
                        rows="7" placeholder="Description"></textarea>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Please enter short description.</div>

                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image:</label>
                    <input name="listing[image]" id="image" class="form-control" type="file" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input name="listing[price]" placeholder="INR" class="form-control" required>
                        <div class="valid-feedback">Looks Good!</div>
                        <div class="invalid-feedback">Price should be valid.</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" name="listing[country]" placeholder="Country" class="form-control" required>
                        <div class="valid-feedback">Looks Good!</div>
                        <div class="invalid-feedback">Please enter the country name.</div>
                    </div>
                </div>
                <div>
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" name="listing[location]" placeholder="Address" class="form-control" required>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Location should be valid.</div>
                </div>
                <br>
                <button class="btn btn-dark add-btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>